.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
 }

.image_size_2 {
	height: 200px;
	width: 200px;
	border: 2px solid #c0c0c0;
	margin: 0 auto;
	display: block;
	border-radius: 200px;
	overflow: hidden;

}


h1 {
	margin: 0;
	padding: 0;

	color: grey;
	font-family: serif;
}

p {
	margin: 0;
}

a {
	color: grey;
	font size: 20px;
	font-family: sans-serif;
}

div{
	/*border: 5px solid blue;*/
}

li {
	margin-right: 40px
	font-family: sans-serif;
	list-style-type: none;
}

section.background {
	float: left;
	height: 300px;
}

.underline {
	border-bottom: 2px solid blue;
}

.left {
	margin: left;
}

.right {
	margin: right;
}
.division {
	margin: 0 auto;
}

.hero-image{
	width: 100%;
	height: 600px;
	background-image: url("https://scontent-yyz1-1.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/268597_10152412273270454_1159112168_n.jpg?oh=605bfbdf41b796025456afedcff575ae&oe=5790BF54");
	background-size: cover;
	background-attachment: fixed;
	display: block;
}

.navbar-menu {
	float: right;
	margin: auto 0;
}

.navbar {
	padding: 20px 40px;
}

.navbar-title {
	float:left;
}

ul.navbar-menu-items {
	list-style: none;

}

ul.navbar-menu-items li {
	display: inline-block;
	margin: 0 10px;
}

.profile {
	padding: 40px;
	margin: 0 auto;
	height: 220px;
	width: 500px;
}

.profile-info {
	float: left;
	padding: 40px 0;
	margin-right: 50px;
}

.profile-image {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	float:right;
	background-size: cover;
	background-image: url(https://scontent-yyz1-1.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/485834_10151728953575454_36803255_n.jpg?oh=1a09e60d3e51065d1219f66cdfdeaf68&oe=57937F24);
}

ul.profile-description {
	margin: 0 0 0 20px;
}